[submodule "hlmtremacs"]
	path = hlmtremacs
	url = git@bitbucket.org:hlmtre/hlmtremacs.git
	branch = develop
[submodule "zt"]
	path = zt
	url = https://hlmtre@bitbucket.org/hlmtre/zt.git
[submodule "polybar/nettraffic"]
	path = polybar/nettraffic
	url = git@github.com:hlmtre/nettraffic.git
