[submodule "hlmtremacs"]
	path = hlmtremacs
	url = https://hlmtre@bitbucket.org/hlmtre/hlmtremacs.git
	branch = develop
[submodule "zt"]
	path = zt
	url = https://hlmtre@bitbucket.org/hlmtre/zt.git
[submodule "polybar/nettraffic"]
	path = polybar/nettraffic
	url = git@github.com:hlmtre/nettraffic.git
[submodule "SpaceVim"]
	path = SpaceVim
	url = https://github.com/SpaceVim/SpaceVim
[submodule "i3status-rust"]
	path = i3status-rust
	url = git@github.com:hlmtre/i3status-rust.git
  branch = net-bits
[submodule "rofi"]
	path = rofi
	url = https://github.com/davatorium/rofi.git
  branch = next
