[submodule "hlmtremacs"]
	path = hlmtremacs
	url = https://hlmtre@bitbucket.org/hlmtre/hlmtremacs.git
	branch = develop
[submodule "zt"]
	path = zt
	url = git@github.com:hlmtre/zt.git
  branch = master
[submodule "polybar/nettraffic"]
	path = polybar/nettraffic
	url = git@github.com:hlmtre/nettraffic.git
[submodule "SpaceVim"]
	path = SpaceVim
	url = https://github.com/SpaceVim/SpaceVim
[submodule "i3status-rust"]
	path = i3status-rust
	url = git@github.com:hlmtre/i3status-rust.git
  branch = net-bits
[submodule "rofi"]
	path = rofi
	url = git@github.com:hlmtre/rofi.git
  branch = next
[submodule "homemaker"]
	path = homemaker
	url = git@github.com:hlmtre/homemaker.git
  branch = master
[submodule "doom-emacs"]
	path = doom/.emacs.d
	url = https://github.com/hlissner/doom-emacs.git
	branch = develop
