[Unit]
Description=pre-sleep hooks
Before=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target


[Service]
ExecStart=/home/hlmtre/dotfiles/sleep.sh
User=hlmtre
#Environment=DISPLAY=:0

[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target